*
{
  margin: 0;
  padding: 0;
}

html
{
  background-color: rgb(40,40,40);
}

#toolbar
{
  width: 300px;
  height: 40px;
}

#container
{
  position: absolute;
}

#board
{
  position: absolute;
  background-color: rgb(60,105,170);
}

#ui
{
  position: absolute;
  width: 700px;
  height: 235px;
}

.shape
{
  
}

.shape:hover
{
  border: 1px solid rgb(40,200,40);
}

.control-point
{
  position: absolute;
  top: 87px;
  left: 42px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(40,200,40);
}
